# Virtual environment
venv/
env/
.venv/
ENV/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.class

# Uploads and logs
uploads/
uploaded_files/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
